<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>google OAuth Authentication</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>
    .button {
      top: 50%;
      display: flex;
      height: 200px;
      align-items: center;
      margin: 10;
      justify-content: center;
    }
  </style>
</head>

<body>
  <div class="button">
    <div class="conatiner">
      <div class="mt-3">
        <a href="/auth/google">
          <button type="button" class="btn btn-primary btn-block mb-4">Sign in With Google</button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>
